body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
    font-size: 29px;
    line-height: 21px;
    color: brown;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 21px;
    color: black;
    text-align: center;
}